*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    /* background: red; */
    width: 50%;
    margin: 150px auto 0 auto;
    height: 50vh;
}

.main .container{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main .container .steps{
    display: flex;
}

.container .steps .step{
    background: white;
    margin: 10px 25px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(64, 186, 64);
}

.main .container .progess-bar{
    background: rgb(131, 145, 135);
    width: 50%;
    height: 5px;
    position: absolute;
    top: calc(50% - 22px);    
    z-index: -2;
}

.main .container .progess-bar-advance{
    background: rgb(64, 186, 64);
    width: 20%;
    height: 3px;
    position: absolute;
    top: calc(50% - 21px);    
    left: 25%;
    z-index: -1;
}

.main .container .progess-bar-advance-active{
    width: 50%;
    background: red;
}

.main .container .control-panel{
    /* background: red; */
    width: 50%;
    display: flex;
    justify-content: center;
}  

.container .control-panel button{
    background: rgb(209, 209, 209);
    width: 70px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
}

.container .control-panel button{
    cursor: pointer;
}

.container .control-panel .button-activate{
    background: rgb(41, 148, 41);
}
